.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .App-login-btn {
    margin-top:3%;
  }

  .App-main {
    display: flex;
    height: calc(100vh - 210px);
  }

  .App-panel {
    width:50vw;
    min-height: 300px;
    max-height: 500px;
    padding: 0;
    margin: 0;
  }

  .App-main > .App-panel:first-child {
    overflow-y: auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  .App-main > .App-panel:nth-child(2) {
    overflow-y: auto;
  }